body {
	margin: 0;
	color: #fff;
	font-family: "EE Garamond", serif;
	background-color: #330202;
}
h1 {
	font-family: 'Cinzel Decorative', cursive;
	color: #d9ba6c;
}
header { 
	background-color: #161d2d;
	padding: 1rem;
}
nav > a {
	color: #d9ba6c;
	border: 1px solid #d9ba6c;
	text-decoration: none;
	padding: 1rem;
	font-weight: 800;
	display: inline-block;
	margin: 1rem 1rem 1rem 0;
}
nav > a:hover {
	border-color: transparent;
	background-color: #d9ba6c;
	color: #161d2d;
}
.sidenav {
	background-color: #374a76;
	padding: 0.5rem 1rem;
}
.sidenav > a {
	background-color: #fae2c0;
	color: #0f0f0f;
	padding: 0.5rem 1rem;
	display: inline-block;
	margin: 0.5rem 0.5rem 0 0;
	text-decoration: none;
}
.sidenav>a:hover {
	opacity: 0.8;
}
main {
	padding: 1rem;
}
section {
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid #d9ba6c;
	display:grid;
	grid-template-columns: 12rem 1fr;
	grid-template-rows: reapt (4, auto) 
}
.title {
	margin: 0;
	padding: 2rem 1rem;
	background-color: #5f1818;
}
section:nth-child(2) {
	display: block;
}
.image {
	margin: 0;
	max-height: 10rem;
	grid-column: 1 / 2;
	grid-row: 1 / 4;
}
h3 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
p {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
}
h4 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;  
}
.ragnorok section:nth-child(5) {
	display: block;
}
@media screen and (min-width: 800px) {
    main {
        display: grid
        grid-template-columns 1fr 1fr
        gap 1rem
    }
    .tittle {
        grid-column: 2fr;
    }
    section:nth-child(2) {
        grid-column-start: 1fr 1fr;
    }
    .ragnoarok {
        display: block
        
    }
}
