body {
    background-color: rgb(6, 6, 56);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
header {
    background-color: rgb(25, 64, 100);
    text-align: center;
    padding: 2rem;
}
header a {
    text-align: center;
    color: rgb(66, 211, 221);
}
main {
    padding: 1rem;
    text-align: center;
}
.home-content div {
    display: inline-block;
    width: 60%;
}
.home-content img {
    width: 38%;
    vertical-align: top;
}
.jellies {
    padding: 1rem;
    display: inline-block;
    width: 29%;
    max-width: 100%;
    margin: .5rem;
    vertical-align: top;
    /*Missing     background-color: rgb(19, 107, 114); */
}
.whales {
    padding: 1rem;
    display: inline-block;
    width: 46%;
    max-width: 46%;
    margin: .5rem;
    vertical-align: top;
    /*Missing     background-color: rgb(19, 107, 114); */
}
.creatures {
    padding: 1rem;
    display: inline-block;
    width: 29%;
    max-width: 100%;
    margin: .5rem;
    vertical-align: top;
    /*Missing     background-color: rgb(19, 107, 114); */
}
/*Missing 
img{
    max-width: 100%;
}
    */